.ui.segment.jumbo {
  height: 280px;
  background-image: url("../../assets/background.jpg");
  background-size: cover;
  color: #e7d4c3;
  position: relative;
  z-index: -2;
  margin-bottom: 0;
}

.ui.segment {
  /* background-image: url("../../assets/background.jpg");
  background-size: cover;
  color: #e7d4c3; */
  /* position: relative; */
  /* background: #fff; */
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  margin: 0;
  padding: 1em 1em;
  border-radius: 0;
  border: 1px solid rgba(34, 36, 38, 0.15);
}

.overlay {
  background-color: #000;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.greeting {
  color: rgb(255, 217, 0);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
