/* .aboutContainer {
  background-color: black;
  color: white;
} */
.aboutWrapper {
  height: 100%;
  width: 100%;
  background-color: teal;
}

.aboutContainer {
  color: white;
  position: relative;
  top: 55px;
  padding-bottom: 35px;
}

.top {
  padding-top: 5px;
  margin-top: 10px;
}

a {
  color: yellow;
}

a:hover {
  color: black;
}

h3 {
  color: rgb(20, 34, 34);
}
