/* .aboutContainer {
  background-color: black;
  color: white;
} */

.aboutContainer {
  background-color: teal;
  color: white;
  position: relative;
  top: 55px;
  padding-bottom: 25px;
}

.top {
  padding-top: 5px;
  margin-top: 10px;
}

a {
  color: yellow;
}

a:hover {
  color: black;
}

h3 {
  color: rgb(20, 34, 34);
}
